@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --letter-spacing: 0.1em;
    --title-font: 'Notable', sans-serif;
    --text-font: 'Nunito', sans-serif;
  }

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: coral;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: var(--title-font);
    font-size: 5em;
    letter-spacing: var(--letter-spacing);
    margin: 0;
}

header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column nowrap;
    flex: 1;
}

.about-me {
    width: 90%;
    /* height: 40vh; */
    margin: 1em;
    padding: 1em;
}

h2 {
    font-size: 1.5em;
}

.intro {
    margin-bottom: 0.1em;
    text-align: center;
}

.intro, .more-info {
    font-family: 'Nunito', sans-serif;
}

.more-info {
    font-size: 0.7em;
    color: antiquewhite;
}

.blog-container {
    padding: 1em;
    width: 95%;
    /* width: 100%; */
    /* height: 40vh; */
    /* margin: 1em; */
    /* background-color: black; */
}

ul {
    padding-inline-start: 0;
}


footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 50px;
}

footer ul {
    font-family: var(--title-font);
	width: 100%;	
	display: flex;
	flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer > ul > li > a {
    text-decoration: none;
    color: black;
    font-family: var(--title-font);
}

footer > ul > li {
    letter-spacing: var(--letter-spacing);
}

a {
    text-decoration: none;
    font-family: var(--text-font);
    /* color: #2f2f2f; */
    color: #000000;
}

.post-title {
    font-size: 1em; 
    list-style-type: none;
    color: #2f2f2f;
    margin: 1em;
    background-color: #00000033;
    padding: 1em; 
}


@media (min-width: 670px) { 
    main {
        flex-flow: row nowrap;
    }
    .more-info {
        font-size: 0.9em;
    }
    .about-me, .blog-container {
        width: 31%;
        /* height: 30vh; */
        min-height: 40vh;
    }
    .blog-container {
        /* background-color: black; */
        display: flex;
        flex-flow: column;
        align-items: center;
        border-radius: 10px;
        background-color: antiquewhite;
    }
    .intro {
        margin-bottom: 1em;
    }
    .post-title {
        font-size: 0.9em;
        background-color: #00000000;
        margin: 0;

        /* list-style-type: square; */
    }
    a {
        text-decoration: underline;
    }
    .title {
        font-size: 6em;
    };
}

@media (min-width: 1000px) {
    .intro {
        text-align: left;
    };
}
