@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --letter-spacing: 0.1em;
    --title-font: 'Notable', sans-serif;
    --text-font: 'Nunito', sans-serif;
  }

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    /* background-color: coral; */
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    display: flex;
    flex-direction: column;
}

.title {
    font-family: var(--text-font);
    font-size: 5em;
    letter-spacing: var(--letter-spacing);
    margin: 0;
}

.title-long {
    font-size: 2em;
    padding: 1em;
    text-align: center;
}

header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column nowrap;
    flex: 1;
}

section {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column nowrap;
    flex: 1;
}

.about-me {
    width: 90%;
    margin: 1em;
    padding: 1em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.1em;
    font-family: var(--text-font);
    margin: 0;
    padding-left: 0;
    text-align: center;
}

.intro {
    margin-bottom: 1.1em;
    text-align: center;
}

.intro-blog {
    font-size: 1.3em;
}

.intro, .more-info {
    font-family: 'Nunito', sans-serif;
}

.more-info {
    font-size: 0.7em;
    color: antiquewhite;
    text-align: center;
}

#content-big {
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#content-big p:first-of-type {
    margin-bottom: 6em;
    border-left: none;
  }

.blog-container {
    padding: 1em;
    width: 95%;
}

.blog-content {
    font-family: var(--text-font);
    padding-left: 0;
    max-width: 42rem;
    margin-bottom: 3em;
    text-align: center;
    line-height: 1.7;
}

ul {
    padding-inline-start: 0;
}


footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 50px;
}

footer ul {
    font-family: var(--text-font);
	width: 100%;	
	display: flex;
	flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer > ul > li > a {
    text-decoration: none;
    color: black;
    font-family: var(--text-font);
    font-weight: 800;
}

footer a:hover {
    color: antiquewhite;
}

footer > ul > li {
    letter-spacing: var(--letter-spacing);
}

a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: #000000;
}

.post-title {
    text-align: center;
    font-size: 1em; 
    list-style-type: none;
    color: #2f2f2f;
    margin: 1em;
    background-color: antiquewhite;
    padding: 1em; 
    border-radius: 10px;
}

code {
    background-color: azure;
    padding: 0.2rem;
}

.blog-img {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.gif {
    margin-bottom: 3em;
}


@media (min-width: 670px) { 
    main {
        flex-flow: row nowrap;
    }
    .more-info {
        font-size: 0.9em;
        text-align: left;
    }
    .about-me, .blog-container {
        width: 31%;
        min-height: 40vh;
    }
    .blog-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        border-radius: 10px;
        background-color: antiquewhite;
    }
    .intro {
        margin-bottom: 1em;
    }
    .post-title {
        font-size: 0.9em;
        background-color: #00000000;
        margin: 0;
        /* list-style-type: square; */
    }
    a {
        text-decoration: underline;
    }
    .title {
        font-size: 6em;
    }
    .title-long {
        font-size: 1.5em;
        margin: 2em;
    }

    #content-big {
        width: 80%;
    }
    
    .blog-content {
        padding: 20px;
        /* border-left: 1px solid black; */
        text-align: left;
        border-bottom: 1px solid #ff7f50;
    }

    h3 {
        text-align: left;
        padding-bottom: 1.1em;
        border-bottom: 1px solid #ff7f50;
        /* padding-left: 40px; */
    }

}

@media (min-width: 1000px) {
    .intro {
        text-align: left;
    }
    .intro-blog {
        text-align: center;
    }
}

/* big boy screen sizes  */
@media (min-width: 1700px) {
    .blog-content {
        max-width: 85rem;
        font-size: x-large;
    }
    .intro-blog, .small-header {
        font-size: xx-large;
    }
    .title-long {
        font-size: 2.3em;
    }
    .post-title {
        font-size: 1.3em;
    }
    .more-info {
        font-size: 1.3em;
    }
    .intro {
        font-size: 2em;
    }
    footer > ul > li > a {
        font-size: 1.7em;
    }
    .blog-img {
        max-width: 600px;
    }
}
